<div class="container text-center">
   <ul class="list-group">
      <h2>Bem-vindo!</h2>
      <li class="list-group-item">
         <h3>Status da Conta:<br><%= @account_status %></h3>
      </li>
      <li class="list-group-item">
         <h3>Saldo em conta <br> R$ <%= @account_balance%></h3>
      </li>
   </ul>
</div>